* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  line-height: 2;
}

button {
  margin-left: 22px;
  padding: 8px 24px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-rock {
  background-color: #eb2b4d;
}

.btn-paper {
  background-color: #db9c1f;
}

.btn-scissors {
  background-color: #4ea0af;
}

.btn-start {
  margin-top: 32px;
  background-color: #8ab135;
}